/* Core CSS */

.App {
  text-align: left;
  margin-left: 18vw;
  margin-right: 18vw;
  margin-top: 35vh;
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .App {
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: avenir;
}

/* End of Core CSS */

/* ---------------------------------------------------------------------------------------------------------------- */

/* Landing Component */

.header {
  font-size: 3.5rem;
  font-weight: bold;
}

.description {
  padding-bottom: 1rem;
}

.socialIcons {
   margin-top: 0.5rem;
 }

.socialIcons svg {
  margin-right: 0.5rem;
}

/* End of Landing Component */

/* ---------------------------------------------------------------------------------------------------------------- */

/* Experience Component */

.experience {
   margin-top: 15rem;
 }

@media (max-width: 768px) {
  .experience {
    margin-top: 5rem;
  }
}

/* End of Experience Component */

/* ---------------------------------------------------------------------------------------------------------------- */

/* Experience Component */

.job {
  border: 1px solid black;
  border-top: 3px solid #f04;
  margin-bottom: 2rem;
}

.jobHeader {
  margin-left: 1rem;
  margin-right: 1rem;
}

.time {
  margin-left: 1rem;
  margin-right: 1rem;
}

.company {
  margin-left: 1rem;
  margin-right: 1rem;
}

.position {
  margin-left: 1rem;
  margin-right: 1rem;
}

.jobDescription {
  margin-left: 1rem;
  margin-right: 1rem;
}

.jobButton {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

/* End of Job Component */

/* ---------------------------------------------------------------------------------------------------------------- */

/* Projects Component */

.project {
  border: 1px solid black;
  border-top: 3px solid #f04;
  margin-bottom: 2rem;
}

.projectName {
  margin-left: 1rem;
  margin-right: 1rem;
}

.oneLiner {
  margin-left: 1rem;
  margin-right: 1rem;
}

.projectDescription {
  margin-left: 1rem;
  margin-right: 1rem;
}

.projectImgLeft {
  height: 13rem;
  float:left;
  padding-top: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

.projectImgRight {
  height: 13rem;
  float:right;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
}

.projectButtons {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 3rem;
}

.liveButton {
  float: left;
}

.caseStudyButton {
  float: left;
  margin-left: 1rem;
}

/* End of Projects Component */

/* ---------------------------------------------------------------------------------------------------------------- */



